
@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/axios.min.js"></script>
<h2>Login</h2>
<p>
    <input type="text" name="txtLoginID" id="txtLoginID" />
</p>
<p>
    <input type="password" name="txtPassword" id="txtPassword" />
</p>
<p>
    <input type="button" id="bthSave" value="登陆验证" class="btn-primary" onclick="xxx('xxee')" />
</p>
<script type="text/javascript">
    
    function xxx(eee) {
        
        alert(eee);
        
    }
</script>
